@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Movie Archive</h1>
        <p class="lead">The best movie archiving app on the market!</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Movie Archive gives you a seamless experience in archiving your
            favorite flicks. Simple to use forms and a clean interface make
            using Movie Archive every movie junky's dream.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more space</h2>
        <p>You can upgrade your account any time. But the first 2GB are free!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Don't lose a thing. Movie Archive provides safe hosting for your archive.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>