
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-success" role="alert">
            <strong>Thank you!.</strong>
            We will get back to you shortly.
            <a style="color:#FFFFFF" href="/Home/Contact">Go back</a>
        </div>
    </div>
</div>